

body {
  color: #262626;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  margin-left: 50px;
  margin-left: 50px;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  display: block;
}

figure {
  margin: 0;
}
.ptextd {
    text-align: justify;
    padding-left: 20px;
    width: 70%;
}

.ltextd {
    text-align: justify;
    padding-left: 30px;
}
/*
.link_mappa a:link, a:visited, a:hover, a:active {
*/
.link_mappa a:hover, a:active, a:focus {
background-color: grey;
color: white;
padding: 10px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
margin-top: 5px;
margin-top: 5px;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 2.5;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
}

.h1, .h2, .h3,
.h4, .h5, .h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #222222;
}

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
  color: #222222;
}

td, th {
  border-radius: 0px;
}


.light {
  color: #fff;
}

.dark {
  color: #222;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.row.no-margin {
  margin-left: 0;
  margin-right: 0;
}

.circle {
  border-radius: 20px;
}

.list-style {
  width: 14px;
  height: 14px;
}

.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.20em !important;
}

.unordered-list li:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #262626;
  background: #fff;
  top: 3px;
  left: 0;
  border-radius: 50%
}

.ordered-list {
  margin-left: 30px;
}

.ordered-list li {
  list-style-type: decimal-leading-zero;
  color: #262626;
  font-weight: 500;
  line-height: 1.70em !important;
}

.ordered-list li span {
  font-weight: 400;
  color: #262626;
}

.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #262626;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list-alpha li span {
  font-weight: 400;
  color: #262626;
}

.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #262626;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list-roman li span {
  font-weight: 400;
  color: #262626;
}
